/*顶部背景 start*/
.fix-bg {
  background-color: #ee1d3c;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  min-width: 1200px;
}
.fix-bg img {
  display: none;
  margin: 0 auto;
  cursor: pointer;
}
/*顶部背景 end*/
.mask-bg {
  height: 677px;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}
/*导航 start*/
.nav {
  background-color: #fff;
  opacity: 1;
}
.nav .wrap:after {
  display: block;
  width: 0px;
  height: 0px;
  line-height: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}
.nav .wrap .logo {
  line-height: 80px;
  float: left;
  margin-left: 74px;
}
.nav .wrap .logo img {
  width: 127px;
  height: 55px;
  vertical-align: middle;
}
.nav .wrap .nav-con {
  margin-right: 74px;
  line-height: 80px;
  float: right;
}
.nav .wrap .nav-con:after {
  display: block;
  width: 0px;
  height: 0px;
  line-height: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}
.nav .wrap .nav-con a {
  float: left;
  margin-left: 60px;
}
.nav .wrap .nav-con a span {
  display: inline-block;
  padding: 6px 0;
  line-height: 1;
  font-size: 16px;
  color: #7d7d7d;
  position: relative;
}
.nav .wrap .nav-con a span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 2px solid #ee1d3c;
  border-bottom: 2px solid #fff\0;
  border-bottom: 2px solid #fff\9\0;
  transform-origin: 50% 50%;
  transform: scale(0, 1);
  transition: all .3s ease;
}
.nav .wrap .nav-con a.cur span,
.nav .wrap .nav-con a:hover span {
  color: #ee1d3c;
}
.nav .wrap .nav-con a.cur span:after,
.nav .wrap .nav-con a:hover span:after {
  transform: scale(1, 1);
  border-bottom: 2px solid #ee1d3c\9;
}
.nav-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  box-shadow: 1px 1px 58px -16px rgba(0, 0, 0, 0.3);
}
/*导航 end*/
/*轮播图 start*/
.carousel {
  background-color: #19929d;
}
.carousel .wrap-con .video-wrap {
  cursor: pointer;
  position: relative;
}
.carousel .wrap-con .video-wrap .img {
  position: relative;
  border: 20px solid #fff;
  margin: 0 auto 46px;
  width: 1098px;
  height: 603px;
  overflow: hidden;
  cursor: pointer;
}
.carousel .wrap-con .video-wrap .img .bg {
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transition: transform 1s ease;
}
.carousel .wrap-con .video-wrap .img .bg:hover {
  transform: scale(1.03, 1.03);
}
.carousel .wrap-con .video-wrap .drag {
  position: absolute;
  right: -10px;
  top: 140px;
}
.carousel .wrap-con .video-wrap .parse {
  position: absolute;
  width: 65px;
  height: 65px;
  background: url(../images/images/parse.png) no-repeat center;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}
.carousel .wrap-con .video-wrap .video-con {
  position: absolute;
  top: 0;
  left: 30px;
}
.carousel .wrap-con p {
  color: #333;
  font-size: 32px;
  padding: 60px 0 18px 80px;
}
.carousel .wrap-con p span {
  color: #ee1d3c;
}
/*轮播图 end*/
.video-con1,
.video-con {
  display: none;
  background: #fff;
}
.video-con1 .hd,
.video-con .hd {
  text-align: center;
}
.video-con1 .hd ul,
.video-con .hd ul {
  position: absolute;
  z-index: 10;
  bottom: -20px;
  left: 0;
  right: 0;
  display: inline-block;
}
.video-con1 .hd ul li,
.video-con .hd ul li {
  display: inline-block;
  width: 30px;
  height: 3px;
  margin: 0 10px;
  background: #eee \9;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.video-con1 .hd ul li.on,
.video-con .hd ul li.on {
  background: #fff;
}
.video-con1 .hd span,
.video-con .hd span {
  width: 21px;
  height: 35px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  z-index: 10;
  cursor: pointer;
  opacity: .5;
  transition: all .5s ease;
}
.video-con1 .hd span:hover,
.video-con .hd span:hover {
  opacity: 1;
}
.video-con1 .hd .prev,
.video-con .hd .prev {
  background: url(../images/images/arrow-l.png) no-repeat;
  left: -30px;
}
.video-con1 .hd .next,
.video-con .hd .next {
  background: url(../images/images/arrow-r.png) no-repeat;
  right: -30px;
}
.video-con1 .bd,
.video-con .bd {
  height: 100%;
}
.video-con1 .bd ul,
.video-con .bd ul {
  height: 100%;
}
.video-con1 .bd ul li,
.video-con .bd ul li {
  height: 643px;
  width: 1140px;
}
.video-con1 .close,
.video-con .close {
  font-size: 60px;
  font-weight: lighter;
  color: #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
  opacity: .7;
  cursor: pointer;
}
.v1Con {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.v1Con #video_1 {
  width: 100%;
  height: 100%;
}
/*02,03盒子线条 start*/
.line-bg {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.line-bg li {
  float: left;
  height: 740px;
  border-right: 1px solid #f7f7f7;
  margin-left: 140px;
}
.line-bg li ~ li {
  margin-left: 230px;
}
.num {
  left: 80px;
}
.num h1 {
  font-size: 142px;
  font-weight: bold;
  line-height: 114px;
}
.title {
  z-index: 2;
}
.title > h2 {
  font-size: 40px;
  color: #272727;
  padding-bottom: 38px;
}
.title > span {
  display: inline-block;
  width: 45px;
  height: 6px;
}
/*02,03盒子线条 end*/
/*02 start*/
.box-1 {
  background: #fff;
  padding-bottom: 80px;
}
.box-1 .wrap {
  height: 740px;
  padding-bottom: 60px;
}
.box-1 .wrap:after {
  display: block;
  width: 0px;
  height: 0px;
  line-height: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}
.box-1 .wrap > div {
  z-index: 3;
  top: 120px;
  position: absolute;
}
.box-1 .wrap .num h1 {
  color: #f59425;
}
.box-1 .wrap .title {
  position: absolute;
  left: 334px;
}
.box-1 .wrap .title > span {
  background-color: #d23a34;
}
.box-1 .wrap .title .spell-1 {
  position: absolute;
  width: 47px;
  height: 207px;
  background: url(../images/images/spell-1.png) no-repeat center;
  left: 0;
  top: 200px;
}
.box-1 .wrap .explain {
  left: 615px;
}
.box-1 .wrap .explain ul:after {
  display: block;
  width: 0px;
  height: 0px;
  line-height: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}
.box-1 .wrap .explain ul li {
  float: left;
  margin-right: 65px;
}
.box-1 .wrap .explain ul li h4 {
  font-size: 26px;
  color: #272727;
  padding-bottom: 40px;
}
.box-1 .wrap .explain ul li p {
  font-size: 16px;
  line-height: 22px;
}
.box-1 .wrap .explain ul li p.p1 {
  color: #f59425;
  padding-bottom: 5px;
}
.box-1 .wrap .explain ul li p.p2 {
  color: #272727;
}
.box-1 .wrap .explain .more {
  position: absolute;
  width: 138px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 18px;
  color: #999;
  text-align: center;
  top: 235px;
  font-weight: lighter;
  cursor: pointer;
  transition: all .5s ease;
}
.box-1 .wrap .explain .more i {
  position: absolute;
  height: 16px;
  width: 9px;
  background: url(../images/images/arrow-more.png) no-repeat;
  top: 12px;
  left: 50%;
  z-index: -1;
  transition: all .5s ease;
}
.box-1 .wrap .explain .more:hover {
  background: #434242;
  text-indent: -30px;
  color: #fff;
}
.box-1 .wrap .explain .more:hover i {
  left: 75%;
  z-index: 1;
}
.box-1 .wrap > .img {
  position: absolute;
  right: 116px;
  bottom: 0px;
  z-index: 2;
}
.box-1 .wrap > .img img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.box-1 .wrap .video-con1 {
  cursor: pointer;
  height: 643px;
  width: 1140px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.box-1 .wrap .video-con1 .prev {
  background: url(../images/images/arrow-l1.png) no-repeat;
  left: -30px;
}
.box-1 .wrap .video-con1 .next {
  background: url(../images/images/arrow-r1.png) no-repeat;
  right: -30px;
}
.box-1 .wrap .video-con1 .hd ul li {
  background: #ddd;
}
.box-1 .wrap .video-con1 .hd ul li.on {
  background: #999;
}
/*02 end*/
/*03 start*/
.box-2 {
  background: #fff;
}
.box-2 .wrap {
  padding-top: 120px;
}
.box-2 .wrap .line-bg {
  height: 100%;
}
.box-2 .wrap .line-bg li {
  height: 100%;
}
.box-2 .wrap p {
  font-size: 22px;
}
.box-2 .wrap .num {
  position: absolute;
  height: 100%;
  z-index: 2;
}
.box-2 .wrap .num h1 {
  color: #d23a34;
}
.box-2 .wrap .title {
  position: relative;
}
.box-2 .wrap .title > h2,
.box-2 .wrap .title > span,
.box-2 .wrap .title p.p1,
.box-2 .wrap .title p.p2 {
  margin-left: 380px;
}
.box-2 .wrap .title > span {
  background-color: #f59425 ;
  margin-bottom: 166px;
}
.box-2 .wrap .title .img-carouse {
  width: 642px;
  height: 382px;
  margin: 0 auto 94px;
  border: 1px solid #a8a8a8;
  box-shadow: 0 14px 50px 0px rgba(0, 0, 0, 0.3);
}
.box-2 .wrap .slide03 {
  position: relative;
  z-index: 10;
}
.box-2 .wrap .slide03 .hd li.on {
  opacity: 1;
}
.box-2 .wrap .slide03 .bd {
  width: 642px;
  height: 384px;
  margin: 20px auto 80px;
  border: 1px solid #a8a8a8;
  box-shadow: 0 14px 50px 0px rgba(0, 0, 0, 0.3);
}
.box-2 .wrap .slide03 .bd li {
  height: 384px;
}
.box-2 .wrap .slide03 .bd li img {
  width: 100%;
  height: 100%;
}
.box-2 .wrap .slide03 .rotate-0 {
  position: absolute;
  width: 224px;
  height: 45px;
  background: url(../images/images/spell4.png);
  left: 380px;
  top: -80px;
  cursor: pointer;
  opacity: .5;
}
.box-2 .wrap .slide03 .rotate-1 {
  width: 19px;
  height: 336px;
  position: absolute;
  background: url(../images/images/spell-2.png) no-repeat center;
  left: 205px;
  top: 0px;
  cursor: pointer;
  opacity: .7;
}
.box-2 .wrap .slide03 .rotate-2 {
  width: 19px;
  height: 268px;
  position: absolute;
  background: url(../images/images/spell-3.png) no-repeat center;
  right: 205px;
  bottom: 0px;
  cursor: pointer;
  opacity: .7;
}
.box-2 .wrap > img {
  position: absolute;
  right: 0;
  bottom: -3px;
}
/*03 end*/
/*footer start*/
.footer {
  background: #eeeeee;
  padding: 66px 0 38px 0;
}
.footer .wrap:after {
  display: block;
  width: 0px;
  height: 0px;
  line-height: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}
.footer .wrap .logo {
  float: left;
  margin-left: 100px;
  margin-right: 44px;
}
.footer .wrap .logo img {
  width: 140px;
}
.footer .wrap .copy {
  float: left;
}
.footer .wrap .copy p {
  color: #7d7d7d;
  padding-top: 18px;
}
.footer .wrap .copy p span {
  font-size: 16px;
  margin-right: 40px;
}
.footer .wrap .copy p span em {
  font-size: 12px;
}
.footer .wrap .copy p span em a {
  text-decoration: underline;
  color: #7d7d7d;
}
.footer .wrap .copy p span em ~ em {
  margin-left: 10px;
}
.footer .wrap .copy p.small {
  font-size: 12px;
  color: #999999;
  padding-top: 12px;
}
/*footer end*/
.vjs-remaining-time-display {
  line-height: 3em;
}
