body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td ,img{
		padding: 0;margin: 0;border:none;font-weight: normal;outline: none;line-height: 1;
	}
body,html{
	font-family: PingFang Regular,'Microsoft YaHei';min-width: 1200px;
}
textarea {
	resize: none;
}
input {
	vertical-align: middle;
	margin: 0px;
}	
li {
	list-style: none;
}
i,em{
	display: inline-block;
	font-style: normal;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
